/* Generic context menu styles */
.contextMenu {
	position: fixed;
	width: 120px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #EEE;
	padding: 0px;
	margin: 0px;
	display: none;
}

.contextMenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contextMenu A {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

.contextMenu LI.hover A {
	color: #FFF;
	background-color: #3399FF;
}

.contextMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.contextMenu LI.hover.disabled A {
	background-color: transparent;
}

.contextMenu LI.separator {
	border-top: solid 1px #CCC;
}

/*
	Adding Icons
	
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

.contextMenu LI.editselectors A { background-image: url(../img/edit_mini_icon.png); }
.contextMenu LI.assign A { background-image: url(../img/assign_mini_icon.png); }
.contextMenu LI.unassign A { background-image: url(../img/unassign_mini_icon.png); }
.contextMenu LI.delete A { background-image: url(../img/delete_mini_icon.png); }
.contextMenu LI.updatebgcolor A { background-image: url(../img/background_mini_icon.png); }
.contextMenu LI.updatebordercolor A { background-image: url(../img/border_mini_icon.png); }
.contextMenu LI.updatefontcolor A { background-image: url(../img/font_mini_icon.png); }
